.empat__container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.empat__icon {
    width: 45vh;
}

.empat__title {
    text-align: center;
    margin-bottom: 30px;
}